In [103]:
import pandas as pd
artist = pd.read_csv('/Users/humbe/Downloads/artist_refined.csv', delimiter = '\t')
artist_tag = pd.read_csv('/Users/humbe/Downloads/artist_tag.csv', delimiter = '\t')
tag_table = pd.read_csv('/Users/humbe/Downloads/tag.txt', delimiter = '\t')

In [104]:
artist.head()

     pkID                                  MBID           Artist
0  805192  8972b1c1-6482-4750-b51f-596d2edea8b1            WIK▲N
1  371203  49add228-eac5-4de8-836c-d75cde7369c3      Pete Moutso
2  273232  c112a400-af49-4665-8bba-741531d962a1          Zachary
3  101060  ca3f3ee1-c4a7-4bac-a16a-0b888a396c6b  The Silhouettes
4  145773  7b4a548e-a01a-49b7-82e7-b49efeb9732c     Aric Leavitt

In [105]:
artist.shape

(1356202, 3)

In [106]:
artist_tag.head()

    pk ID  tag ID
0  468800      29
1  522545   63294
2   31390     173
3  108404      43
4  108404     271

In [107]:
artist_tag.shape

(249087, 2)

In [108]:
tag_table.head()

   tag ID         tagname
0      95         finnish
1      23          slovak
2     801            iowa
3       4  groundbreaking
4     130       taiwanese

In [109]:
tag_table.shape

(79316, 2)

In [110]:
new_table = artist_tag.merge(artist, how = 'right', left_on = 'pk ID', right_on = 'pkID')

In [111]:
new_table.shape

(1512517, 5)

In [112]:
new_table.head()

,pk ID,tag ID,pkID,MBID,Artist
0,468800.0,29.0,468800,8af61e3f-fb60-484a-a5e7-1298f439ca4c,Citadel
1,522545.0,63294.0,522545,e6ba541b-3360-4368-8269-b9de09855e53,Robert Fuchs
2,522545.0,670.0,522545,e6ba541b-3360-4368-8269-b9de09855e53,Robert Fuchs
3,522545.0,15.0,522545,e6ba541b-3360-4368-8269-b9de09855e53,Robert Fuchs
4,31390.0,173.0,31390,69632f9c-31eb-43d5-a864-e73ac72efc66,Behemoth

In [113]:
newer_table = tag_table.merge(new_table, how = 'right', left_on = 'tag ID', right_on = 'tag ID')

In [114]:
newer_table.shape

(1512517, 6)

In [115]:
newest_table = newer_table.set_index('MBID')

In [116]:
newest_table.head()

,tag ID,tagname,pk ID,pkID,Artist
MBID,,,,,
c054ea6b-c585-41eb-ae7e-4b0ca43308ff,95.0,finnish,190302.0,190302,Wintersun
0ac956e9-5b07-4389-8d32-95f332a5b397,95.0,finnish,523317.0,523317,The Puritan
f57e14e4-b030-467c-b202-539453f504ec,95.0,finnish,10531.0,10531,Children of Bodom
00a9f935-ba93-4fc8-a33a-993abe9c936b,95.0,finnish,2062.0,2062,Nightwish
f15430f3-54b8-4ef0-9aad-fa959c59c92c,95.0,finnish,667821.0,667821,Mr. G+Trrr

In [117]:
newest_table.shape

(1512517, 5)

In [118]:
right_table = newest_table.drop('pk ID', axis = 1)

In [119]:
newest_table.head()

,tag ID,tagname,pk ID,pkID,Artist
MBID,,,,,
c054ea6b-c585-41eb-ae7e-4b0ca43308ff,95.0,finnish,190302.0,190302,Wintersun
0ac956e9-5b07-4389-8d32-95f332a5b397,95.0,finnish,523317.0,523317,The Puritan
f57e14e4-b030-467c-b202-539453f504ec,95.0,finnish,10531.0,10531,Children of Bodom
00a9f935-ba93-4fc8-a33a-993abe9c936b,95.0,finnish,2062.0,2062,Nightwish
f15430f3-54b8-4ef0-9aad-fa959c59c92c,95.0,finnish,667821.0,667821,Mr. G+Trrr

In [120]:
right_table.head()

,tag ID,tagname,pkID,Artist
MBID,,,,
c054ea6b-c585-41eb-ae7e-4b0ca43308ff,95.0,finnish,190302,Wintersun
0ac956e9-5b07-4389-8d32-95f332a5b397,95.0,finnish,523317,The Puritan
f57e14e4-b030-467c-b202-539453f504ec,95.0,finnish,10531,Children of Bodom
00a9f935-ba93-4fc8-a33a-993abe9c936b,95.0,finnish,2062,Nightwish
f15430f3-54b8-4ef0-9aad-fa959c59c92c,95.0,finnish,667821,Mr. G+Trrr

In [121]:
right_table.shape

(1512517, 4)

In [122]:
final_artist_table = right_table.drop(['tag ID','pkID'], axis = 1)

In [123]:
final_artist_table.head()

                                      tagname             Artist
MBID
c054ea6b-c585-41eb-ae7e-4b0ca43308ff  finnish          Wintersun
0ac956e9-5b07-4389-8d32-95f332a5b397  finnish        The Puritan
f57e14e4-b030-467c-b202-539453f504ec  finnish  Children of Bodom
00a9f935-ba93-4fc8-a33a-993abe9c936b  finnish          Nightwish
f15430f3-54b8-4ef0-9aad-fa959c59c92c  finnish         Mr. G+Trrr

In [124]:
Maroon = final_artist_table[final_artist_table.Artist == 'Maroon 5']

In [125]:
Maroon

                                                 tagname    Artist
MBID
0ab49580-c84f-44d4-875f-d83760ea2cfe            slow pop  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe                rock  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe           funk rock  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe          electropop  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe               dance  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe      rock and indie  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe            pop rock  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe  adult contemporary  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe                 pop  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe           dance-pop  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe          automod ng  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe            pop/rock  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe    fixme label mess  Maroon 5

In [126]:
final_artist_table.to_csv('final_artist_table.csv', sep = '\t')

In [127]:
this = pd.read_csv('final_artist_table.csv', delimiter = '\t', index_col = 'MBID', dtype = str)

In [128]:
this.head()

                                      tagname             Artist
MBID
c054ea6b-c585-41eb-ae7e-4b0ca43308ff  finnish          Wintersun
0ac956e9-5b07-4389-8d32-95f332a5b397  finnish        The Puritan
f57e14e4-b030-467c-b202-539453f504ec  finnish  Children of Bodom
00a9f935-ba93-4fc8-a33a-993abe9c936b  finnish          Nightwish
f15430f3-54b8-4ef0-9aad-fa959c59c92c  finnish         Mr. G+Trrr

In [129]:
final_artist_table.loc['0ab49580-c84f-44d4-875f-d83760ea2cfe']

                                                 tagname    Artist
MBID
0ab49580-c84f-44d4-875f-d83760ea2cfe            slow pop  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe                rock  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe           funk rock  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe          electropop  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe               dance  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe      rock and indie  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe            pop rock  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe  adult contemporary  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe                 pop  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe           dance-pop  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe          automod ng  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe            pop/rock  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe    fixme label mess  Maroon 5

In [130]:
x = final_artist_table.loc['0ab49580-c84f-44d4-875f-d83760ea2cfe']

In [131]:
type(x)

pandas.core.frame.DataFrame

In [132]:
x

                                                 tagname    Artist
MBID
0ab49580-c84f-44d4-875f-d83760ea2cfe            slow pop  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe                rock  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe           funk rock  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe          electropop  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe               dance  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe      rock and indie  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe            pop rock  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe  adult contemporary  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe                 pop  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe           dance-pop  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe          automod ng  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe            pop/rock  Maroon 5
0ab49580-c84f-44d4-875f-d83760ea2cfe    fixme label mess  Maroon 5

In [133]:
x = this.groupby(['MBID']).groups

In [134]:
x['0ab49580-c84f-44d4-875f-d83760ea2cfe']

Index([u'0ab49580-c84f-44d4-875f-d83760ea2cfe',
       u'0ab49580-c84f-44d4-875f-d83760ea2cfe',
       u'0ab49580-c84f-44d4-875f-d83760ea2cfe',
       u'0ab49580-c84f-44d4-875f-d83760ea2cfe',
       u'0ab49580-c84f-44d4-875f-d83760ea2cfe',
       u'0ab49580-c84f-44d4-875f-d83760ea2cfe',
       u'0ab49580-c84f-44d4-875f-d83760ea2cfe',
       u'0ab49580-c84f-44d4-875f-d83760ea2cfe',
       u'0ab49580-c84f-44d4-875f-d83760ea2cfe',
       u'0ab49580-c84f-44d4-875f-d83760ea2cfe',
       u'0ab49580-c84f-44d4-875f-d83760ea2cfe',
       u'0ab49580-c84f-44d4-875f-d83760ea2cfe',
       u'0ab49580-c84f-44d4-875f-d83760ea2cfe'],
      dtype='object', name=u'MBID')