In [185]:
import pandas as pd
artist = pd.read_csv('/Users/humbe/Downloads/artist_refined.csv', delimiter = '\t')
artist_tag = pd.read_csv('/Users/humbe/Downloads/artist_tag.csv', delimiter = '\t')
tag_table = pd.read_csv('/Users/humbe/Downloads/tag.txt', delimiter = '\t')

In [186]:
artist.head()

     pkID                                  MBID           Artist
0  805192  8972b1c1-6482-4750-b51f-596d2edea8b1            WIK▲N
1  371203  49add228-eac5-4de8-836c-d75cde7369c3      Pete Moutso
2  273232  c112a400-af49-4665-8bba-741531d962a1          Zachary
3  101060  ca3f3ee1-c4a7-4bac-a16a-0b888a396c6b  The Silhouettes
4  145773  7b4a548e-a01a-49b7-82e7-b49efeb9732c     Aric Leavitt

In [187]:
artist.shape

(1356202, 3)

In [188]:
artist_tag.head()

    pk ID  tag ID
0  468800      29
1  522545   63294
2   31390     173
3  108404      43
4  108404     271

In [189]:
artist_tag.shape

(249087, 2)

In [190]:
tag_table.head()

   tag ID         tagname
0      95         finnish
1      23          slovak
2     801            iowa
3       4  groundbreaking
4     130       taiwanese

In [191]:
tag_table.shape

(79316, 2)

In [192]:
new_table = artist_tag.merge(artist, how = 'right', left_on = 'pk ID', right_on = 'pkID')

In [193]:
new_table.shape

(1512517, 5)

In [194]:
new_table.head()

,pk ID,tag ID,pkID,MBID,Artist
0,468800.0,29.0,468800,8af61e3f-fb60-484a-a5e7-1298f439ca4c,Citadel
1,522545.0,63294.0,522545,e6ba541b-3360-4368-8269-b9de09855e53,Robert Fuchs
2,522545.0,670.0,522545,e6ba541b-3360-4368-8269-b9de09855e53,Robert Fuchs
3,522545.0,15.0,522545,e6ba541b-3360-4368-8269-b9de09855e53,Robert Fuchs
4,31390.0,173.0,31390,69632f9c-31eb-43d5-a864-e73ac72efc66,Behemoth

In [195]:
newer_table = tag_table.merge(new_table, how = 'right', left_on = 'tag ID', right_on = 'tag ID')

In [196]:
newer_table.shape

(1512517, 6)

In [197]:
newer_table.head()

,tag ID,tagname,pk ID,pkID,MBID,Artist
0,95.0,finnish,190302.0,190302,c054ea6b-c585-41eb-ae7e-4b0ca43308ff,Wintersun
1,95.0,finnish,523317.0,523317,0ac956e9-5b07-4389-8d32-95f332a5b397,The Puritan
2,95.0,finnish,10531.0,10531,f57e14e4-b030-467c-b202-539453f504ec,Children of Bodom
3,95.0,finnish,2062.0,2062,00a9f935-ba93-4fc8-a33a-993abe9c936b,Nightwish
4,95.0,finnish,667821.0,667821,f15430f3-54b8-4ef0-9aad-fa959c59c92c,Mr. G+Trrr

In [198]:
right_table = newer_table.drop('pk ID', axis = 1)

In [199]:
right_table.head()

,tag ID,tagname,pkID,MBID,Artist
0,95.0,finnish,190302,c054ea6b-c585-41eb-ae7e-4b0ca43308ff,Wintersun
1,95.0,finnish,523317,0ac956e9-5b07-4389-8d32-95f332a5b397,The Puritan
2,95.0,finnish,10531,f57e14e4-b030-467c-b202-539453f504ec,Children of Bodom
3,95.0,finnish,2062,00a9f935-ba93-4fc8-a33a-993abe9c936b,Nightwish
4,95.0,finnish,667821,f15430f3-54b8-4ef0-9aad-fa959c59c92c,Mr. G+Trrr

In [200]:
right_table.head()

,tag ID,tagname,pkID,MBID,Artist
0,95.0,finnish,190302,c054ea6b-c585-41eb-ae7e-4b0ca43308ff,Wintersun
1,95.0,finnish,523317,0ac956e9-5b07-4389-8d32-95f332a5b397,The Puritan
2,95.0,finnish,10531,f57e14e4-b030-467c-b202-539453f504ec,Children of Bodom
3,95.0,finnish,2062,00a9f935-ba93-4fc8-a33a-993abe9c936b,Nightwish
4,95.0,finnish,667821,f15430f3-54b8-4ef0-9aad-fa959c59c92c,Mr. G+Trrr

In [201]:
right_table.shape

(1512517, 5)

In [202]:
final_artist_table = right_table.drop(['tag ID','pkID'], axis = 1)

In [203]:
final_artist_table.head()

   tagname                                  MBID             Artist
0  finnish  c054ea6b-c585-41eb-ae7e-4b0ca43308ff          Wintersun
1  finnish  0ac956e9-5b07-4389-8d32-95f332a5b397        The Puritan
2  finnish  f57e14e4-b030-467c-b202-539453f504ec  Children of Bodom
3  finnish  00a9f935-ba93-4fc8-a33a-993abe9c936b          Nightwish
4  finnish  f15430f3-54b8-4ef0-9aad-fa959c59c92c         Mr. G+Trrr

In [204]:
final_artist_table.loc[0,'tagname']

'finnish'

In [205]:
Maroon = final_artist_table[final_artist_table.Artist == 'Maroon 5']

In [206]:
Maroon

                   tagname                                  MBID    Artist
47503             slow pop  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
88142                 rock  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
110600           funk rock  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
119359          electropop  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
132127               dance  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
166881      rock and indie  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
168838            pop rock  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
170377  adult contemporary  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
172372                 pop  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
177843           dance-pop  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
202809          automod ng  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
207368            pop/rock  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
216262    fixme label mess  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5

In [207]:
final_artist_table.to_csv('final_artist_table.csv', sep = '\t', index = False)

In [208]:
artist_and_tag_table = pd.read_csv('final_artist_table.csv', delimiter = '\t')

In [209]:
artist_and_tag_table.head()

   tagname                                  MBID             Artist
0  finnish  c054ea6b-c585-41eb-ae7e-4b0ca43308ff          Wintersun
1  finnish  0ac956e9-5b07-4389-8d32-95f332a5b397        The Puritan
2  finnish  f57e14e4-b030-467c-b202-539453f504ec  Children of Bodom
3  finnish  00a9f935-ba93-4fc8-a33a-993abe9c936b          Nightwish
4  finnish  f15430f3-54b8-4ef0-9aad-fa959c59c92c         Mr. G+Trrr

In [210]:
artist_and_tag_table.shape

(1512517, 3)

In [211]:
MBID_indices_dict = artist_and_tag_table.groupby('MBID').groups

In [212]:
type(MBID_indices_dict)

dict

In [213]:
len(MBID_indices_dict)

1356202

In [214]:
type(MBID_indices_dict)

dict

In [215]:
len(MBID_indices_dict)

1356202

In [216]:
MBID_dictionary = {}
for key in MBID_indices_dict:
    index_list = MBID_indices_dict[key]
    tag_list= []
    for index in index_list:
        tag = artist_and_tag_table.loc[index,'tagname']
        tag_list.append(tag)
        
    MBID_dictionary[key] = tag_list

In [217]:
MBID_dictionary['0ab49580-c84f-44d4-875f-d83760ea2cfe']

['slow pop',
 'rock',
 'funk rock',
 'electropop',
 'dance',
 'rock and indie',
 'pop rock',
 'adult contemporary',
 'pop',
 'dance-pop',
 'automod ng',
 'pop/rock',
 'fixme label mess']

In [219]:
Maroon_5_tags = MBID_dictionary['0ab49580-c84f-44d4-875f-d83760ea2cfe']

In [221]:
'pop' in Maroon_5_tags

True