In [1]:
import pandas as pd
artist = pd.read_csv('artist_refined.csv', delimiter = '\t')
artist_tag = pd.read_csv('artist_tag.csv', delimiter = '\t')
tag_table = pd.read_csv('tag.txt', delimiter = '\t')

The file artist_refined.csv is too large to be stored on github. Therefore, it is hosted on our Google Drive. Just make sure to download it and change the filepath associated with it.

Link below:

https://drive.google.com/drive/u/2/folders/0AH5Rly84R7TjUk9PVA

To run that notebook all you need is to make sure to have the artist_refined.csv, artist_tag.csv, and the tag.txt files in the same location as the notebook to run. We use the artist_refined table because we merge it with two more tables to get the final version, which will be shown below.

In [2]:
print artist.shape
artist.head()

(1356202, 3)

     pkID                                  MBID           Artist
0  805192  8972b1c1-6482-4750-b51f-596d2edea8b1            WIK▲N
1  371203  49add228-eac5-4de8-836c-d75cde7369c3      Pete Moutso
2  273232  c112a400-af49-4665-8bba-741531d962a1          Zachary
3  101060  ca3f3ee1-c4a7-4bac-a16a-0b888a396c6b  The Silhouettes
4  145773  7b4a548e-a01a-49b7-82e7-b49efeb9732c     Aric Leavitt

In [3]:
print artist_tag.shape
artist_tag.head()

(249087, 2)

    pk ID  tag ID
0  468800      29
1  522545   63294
2   31390     173
3  108404      43
4  108404     271

In [4]:
new_table = artist_tag.merge(artist, how = 'right', left_on = 'pk ID', right_on = 'pkID')
print new_table.shape
new_table.head()

(1512517, 5)

,pk ID,tag ID,pkID,MBID,Artist
0,468800.0,29.0,468800,8af61e3f-fb60-484a-a5e7-1298f439ca4c,Citadel
1,522545.0,63294.0,522545,e6ba541b-3360-4368-8269-b9de09855e53,Robert Fuchs
2,522545.0,670.0,522545,e6ba541b-3360-4368-8269-b9de09855e53,Robert Fuchs
3,522545.0,15.0,522545,e6ba541b-3360-4368-8269-b9de09855e53,Robert Fuchs
4,31390.0,173.0,31390,69632f9c-31eb-43d5-a864-e73ac72efc66,Behemoth

In [5]:
newer_table = tag_table.merge(new_table, how = 'right', left_on = 'tag ID', right_on = 'tag ID')
print newer_table.shape
newer_table.head()

(1512517, 6)

,tag ID,tagname,pk ID,pkID,MBID,Artist
0,95.0,finnish,190302.0,190302,c054ea6b-c585-41eb-ae7e-4b0ca43308ff,Wintersun
1,95.0,finnish,523317.0,523317,0ac956e9-5b07-4389-8d32-95f332a5b397,The Puritan
2,95.0,finnish,10531.0,10531,f57e14e4-b030-467c-b202-539453f504ec,Children of Bodom
3,95.0,finnish,2062.0,2062,00a9f935-ba93-4fc8-a33a-993abe9c936b,Nightwish
4,95.0,finnish,667821.0,667821,f15430f3-54b8-4ef0-9aad-fa959c59c92c,Mr. G+Trrr

In [6]:
right_table = newer_table.drop('pk ID', axis = 1)
print right_table.shape
right_table.head()

(1512517, 5)

,tag ID,tagname,pkID,MBID,Artist
0,95.0,finnish,190302,c054ea6b-c585-41eb-ae7e-4b0ca43308ff,Wintersun
1,95.0,finnish,523317,0ac956e9-5b07-4389-8d32-95f332a5b397,The Puritan
2,95.0,finnish,10531,f57e14e4-b030-467c-b202-539453f504ec,Children of Bodom
3,95.0,finnish,2062,00a9f935-ba93-4fc8-a33a-993abe9c936b,Nightwish
4,95.0,finnish,667821,f15430f3-54b8-4ef0-9aad-fa959c59c92c,Mr. G+Trrr

In [7]:
final_artist_table = right_table.drop(['tag ID','pkID'], axis = 1)
final_artist_table.loc[0,'tagname']
final_artist_table.head()

   tagname                                  MBID             Artist
0  finnish  c054ea6b-c585-41eb-ae7e-4b0ca43308ff          Wintersun
1  finnish  0ac956e9-5b07-4389-8d32-95f332a5b397        The Puritan
2  finnish  f57e14e4-b030-467c-b202-539453f504ec  Children of Bodom
3  finnish  00a9f935-ba93-4fc8-a33a-993abe9c936b          Nightwish
4  finnish  f15430f3-54b8-4ef0-9aad-fa959c59c92c         Mr. G+Trrr

In [8]:
Maroon = final_artist_table[final_artist_table.Artist == 'Maroon 5']
Maroon

                   tagname                                  MBID    Artist
47503             slow pop  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
88142                 rock  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
110600           funk rock  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
119359          electropop  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
132127               dance  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
166881      rock and indie  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
168838            pop rock  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
170377  adult contemporary  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
172372                 pop  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
177843           dance-pop  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
202809          automod ng  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
207368            pop/rock  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5
216262    fixme label mess  0ab49580-c84f-44d4-875f-d83760ea2cfe  Maroon 5

#### The final version of the table will be saved under “final_artist_table.csv”

In [9]:
final_artist_table.to_csv('final_artist_table.csv', sep = '\t', index = False)
artist_and_tag_table = pd.read_csv('final_artist_table.csv', delimiter = '\t')
print artist_and_tag_table.shape
artist_and_tag_table.head()

(1512517, 3)

C:\Users\humbe\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   tagname                                  MBID             Artist
0  finnish  c054ea6b-c585-41eb-ae7e-4b0ca43308ff          Wintersun
1  finnish  0ac956e9-5b07-4389-8d32-95f332a5b397        The Puritan
2  finnish  f57e14e4-b030-467c-b202-539453f504ec  Children of Bodom
3  finnish  00a9f935-ba93-4fc8-a33a-993abe9c936b          Nightwish
4  finnish  f15430f3-54b8-4ef0-9aad-fa959c59c92c         Mr. G+Trrr

## Create MBID dictionary

In [10]:
MBID_indices_dict = artist_and_tag_table.groupby('MBID').groups
MBID_dictionary = {}
for key in MBID_indices_dict:
    index_list = MBID_indices_dict[key]
    tag_list= []
    for index in index_list:
        tag = artist_and_tag_table.loc[index,'tagname']
        tag_list.append(tag)
        
    MBID_dictionary[key] = tag_list

In [11]:
MBID_dictionary['0ab49580-c84f-44d4-875f-d83760ea2cfe']

['slow pop',
 'rock',
 'funk rock',
 'electropop',
 'dance',
 'rock and indie',
 'pop rock',
 'adult contemporary',
 'pop',
 'dance-pop',
 'automod ng',
 'pop/rock',
 'fixme label mess']

In [12]:
Maroon_5_tags = MBID_dictionary['0ab49580-c84f-44d4-875f-d83760ea2cfe']

In [13]:
'''check if pop is contained inside Maroon 5 dict'''
'pop' in Maroon_5_tags

True

In [14]:
len(MBID_dictionary)

1356202

In [16]:
counter  = 0
for key in MBID_dictionary:
    print key
    print MBID_dictionary[key]
    counter += 1
    if counter == 5:
        break

e36d63ec-ea07-49c8-af04-9ee36479536c
[nan]
e9683aa7-bdde-4b5f-8298-1892a8b168ee
[nan]
b6687cf5-6635-4b23-9024-764279085397
[nan]
b9ae3e43-f627-4dee-ba83-b8cc8c6fec6a
[nan]
d7f97ecf-668e-479b-99cb-dd8dc1680381
[nan]