In [1]:
import pandas as pd
df = pd.read_csv('artist_tag.txt', delimiter = '\t',header=None)

In [2]:
df.head()

        0      1  2                              3
0  468800     29  2  2011-05-16 14:57:06.530063+00
1  522545  63294  1  2017-05-15 20:35:58.480733+00
2   31390    173  1  2011-05-16 14:57:06.530063+00
3  108404     43  1  2011-05-16 14:57:06.530063+00
4  108404    271  1  2011-05-16 14:57:06.530063+00

In [3]:
df.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [4]:
df.columns = ['pk ID', 'tag ID', '2','3']

In [5]:
df.head()

    pk ID  tag ID  2                              3
0  468800      29  2  2011-05-16 14:57:06.530063+00
1  522545   63294  1  2017-05-15 20:35:58.480733+00
2   31390     173  1  2011-05-16 14:57:06.530063+00
3  108404      43  1  2011-05-16 14:57:06.530063+00
4  108404     271  1  2011-05-16 14:57:06.530063+00

In [6]:
df_refined = df[['pk ID','tag ID']]

In [7]:
df_refined.head()

    pk ID  tag ID
0  468800      29
1  522545   63294
2   31390     173
3  108404      43
4  108404     271

In [8]:
df_refined.to_csv('artist_tag.csv', sep = '\t', index = False)

In [9]:
df2= pd.read_csv('artist_tag.csv', delimiter = '\t')

In [18]:
df2.head()

    pk ID  tag ID
0  468800      29
1  522545   63294
2   31390     173
3  108404      43
4  108404     271